<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<!--
    Aineopintojen harjoitustyö: Tietokantasovellus
    Helsingin yliopisto Tietojenkäsittelytieteen laitos
    Ooppa 2015 - GNU General Public License, version 3.
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments :: head"></head>

    <body>
        <div id="wrapper">
            <div th:include="fragments :: nav"></div>

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="jumbotron">
                            <h1><span class="logo-green">Oob</span><span class="logo-orange">bit</span></h1>
                            <p>404 - Content you tried to access was <strong class="notfound-text">not found</strong>! Find something else instead!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-play fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">/v</div>
                                        <div>Videos</div>
                                    </div>
                                </div>
                            </div>
                            <a th:href="@{/v/recent}">
                                <div class="panel-footer">
                                    <span class="pull-left">Category - Videos</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-picture-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">/p</div>
                                        <div>Pictures</div>
                                    </div>
                                </div>
                            </div>
                            <a th:href="@{/p/recent}">
                                <div class="panel-footer">
                                    <span class="pull-left">Category - Pictures</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-music fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">/m</div>
                                        <div>Music</div>
                                    </div>
                                </div>
                            </div>
                            <a th:href="@{/m/recent}">
                                <div class="panel-footer">
                                    <span class="pull-left">Category - Music</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">/d</div>
                                        <div>Discussion</div>
                                    </div>
                                </div>
                            </div>
                            <a th:href="@{/d/recent}">
                                <div class="panel-footer">
                                    <span class="pull-left">Category - Discussion</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:include="fragments :: scripts" th:remove="tag"></div>
    </body>

</html>