<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<!--
    Aineopintojen harjoitustyö: Tietokantasovellus
    Helsingin yliopisto Tietojenkäsittelytieteen laitos
    Ooppa 2015 - GNU General Public License, version 3.
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DEMO</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Oobbit, DEMO</h1>
        <p>
            Päivitetty: 24.9 kello 15:40
        </p>
        <ul>
            <li><a th:href="@{/all/recent}">Listaus, joka toimii tietokannasta</a></li>
            <li><a th:href="@{/v/add}">Lisää linkki kategoriaan VIDEOT</a></li>
            <li><a th:href="@{/view/1}">Lisättyjen linkkien katsominen toimii, esimerkiksi tässä</a></li>
        </ul>
    </body>
</html>
