<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<!--
    Aineopintojen harjoitustyö: Tietokantasovellus
    Helsingin yliopisto Tietojenkäsittelytieteen laitos
    Ooppa 2015 - GNU General Public License, version 3.
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments :: head"></head>

    <body>
        <div id="wrapper">
            <div th:include="fragments :: nav"></div>

            <div id="page-wrapper">

                <div class="row">
                    <div class="col-12">
                        <h1 class="page-header" th:text="${category.title}">Category title</h1>
                    </div>
                </div>
                
                <div class="list-group-item text-muted" th:if="${#lists.isEmpty(links)}">
                    There is no links in this category.
                </div>

                <div th:each="link : ${links}" class="row well link-list">
                    <div class="col-md-2">
                        <span th:text="${#dates.format(link.createTime)}" class="label label-success">timestamp</span>
                    </div>
                    <div class="col-md-8">
                        <a th:text="${link.title}" th:href="@{/view/{linkId}/(linkId=${link.id})}" class="link-title">title</a>
                    </div>
                    <div class="col-md-2">
                        <div class="pull-right">
                            <a th:href="@{/user/{userId}/(userId=${link.creator.id})}" ><i class="fa fa-user"></i> <i th:text="${link.creator.username}">username</i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div th:include="fragments :: scripts" th:remove="tag"></div>
    </body>

</html>